.nacional td:nth-child(4) {
    color: blue;
}

.internacional td:nth-child(2) {
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color: rgb(31, 31, 31);
}



body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav {
    display: flex;
    justify-content: start;
    gap: 2.5rem;
    width: 100%;
    text-transform: capitalize;
    padding: 10px;
    margin-left: 2rem;
    position: fixed;
    top: 0;
}

nav .opciones {
    display: flex;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.71);
    font-weight: 600;
}

nav a:hover {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 0.2rem;
    gap: 2rem;
    width: 30%;    
}

button{
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: white;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

input {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    background-color: transparent;
    color: white;

}



select {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    background-color: transparent;
    color: white;
}

input, select {
        width: 40%;
}

p:has(label){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: white;
    color: black;
}

.title span {
    background: linear-gradient(90deg, 
        #003f5b, #2b4b7d, #5f5195, #98509d, #cc4c91, #f25375, #ff6f4e, #ff9913, #f6d32b, #ff9913, #ff6f4e, #f25375, #cc4c91, #98509d, #5f5195, #2b4b7d, #003f5b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    text-transform: uppercase;
    background-size: 400%;
    animation: shine 10s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}


